################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoAgenda/DemoAgenda/bin
/DemoAgenda/Data/DemoAgenda.Data/bin/Debug
/DemoAgenda/Data/DemoAgenda.Data/obj/Debug
/DemoAgenda/DemoAgenda/obj/Debug
/DemoAgenda/DemoAgenda.Entities/bin/Debug
/DemoAgenda/DemoAgenda.Entities/obj/Debug
/DemoAgenda/DemoAgenda.Test/bin/Debug
/DemoAgenda/DemoAgenda.Test/obj/Debug
/DemoAgenda/Logic/DemoAgenda.Logic/bin/Debug
/DemoAgenda/Logic/DemoAgenda.Logic/obj/Debug
/DemoAgenda/packages
/DemoListaCompras/Common/DemoListaCompras.Entities/obj/Debug
/DemoListaCompras/Common/DemoListaCompras.Entities/bin/Debug
/DemoListaCompras/Contracts/DemoListaCompras.Data.Contracts/bin/Debug
/DemoListaCompras/Contracts/DemoListaCompras.Data.Contracts/obj/Debug
/DemoListaCompras/Contracts/DemoListaCompras.Logic.Contracts/bin/Debug
/DemoListaCompras/Data/DemoListaCompras.Data/bin/Debug
/DemoListaCompras/Contracts/DemoListaCompras.Logic.Contracts/obj/Debug
/DemoListaCompras/Data/DemoListaCompras.Data/obj/Debug
/DemoListaCompras/DemoListaCompra.Web/bin
/DemoListaCompras/DemoListaCompra.Web/obj/Debug
/DemoListaCompras/DemoListaCompra.Web.MVC/bin
/DemoListaCompras/DemoListaCompra.Web.MVC/obj/Debug
/DemoListaCompras/DemoListaCompras/bin
/DemoListaCompras/DemoListaCompras/obj/Debug
/DemoListaCompras/Logic/DemoListaCompras.Logic/bin/Debug
/DemoListaCompras/Logic/DemoListaCompras.Logic/obj/Debug
/DemoListaCompras/packages
